$boardColor: rgb(253, 193, 103);
$chessShadow: rgba(0, 0, 0, 0.6);

.board {
    width: 45vw;
    height: 45vw;
    padding: 6vmin;
    background-color: $boardColor;
}

.board-content {
    position: relative;
    width: 100%;
    height: 100%;
}

.canvas {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}

.rows {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
}

.row {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    overflow: visible;
    background-color: transparent;
}

.chess {
    display: flex;
    // width: 50px;
    // width: 6vmin;
    width: 100%;
    background-color: transparent;
    border: none;
    color: transparent;
    padding: 0;
    justify-content: center;
    align-items: center;
    // align-content: center;
    text-align: center;
    text-decoration: none;
    // font-size: 20px;
    font-size: 2vw;
    // font-size: 0.5em;
    font-weight: bold;
    margin: 0.2vmin 0.2vmin;
    margin: 0.3% 0.3%;
    border-radius: 50%;
    transition: all 0.3s;
    &:before {
        content: "";
        float: left;
        padding-top: 100%;
    }
    &:focus {
        outline: none !important;
    }
}
.black {
    background-color: black;
    color: white;
    box-shadow: 2px 2px 2px $chessShadow;
}
.white {
    background-color: white;
    color: black;
    box-shadow: 2px 2px 2px $chessShadow;
}
.empty {
    &.light-black:hover {
        background-color: rgba(0, 0, 0, 0.6);
        box-shadow: 2px 2px 2px $chessShadow;
    }
    &.light-white:hover {
        background-color: rgba(255, 255, 255, 0.6);
        box-shadow: 2px 2px 2px $chessShadow;
    }
}
.icon {
    width: 2vh;
    height: 2vh;
}

.mark {
    // flex-grow: 1;
    // width: 2vmin;
    width: 36%;
    // height: 2vmin;
    height: 36%;
    background-color: red;
    border-radius: 50%;
    &:before {
        content: "";
        float: left;
        padding-top: 100%;
    }
}

.select {
    display: inline-block;
    border-radius: 30px;
    padding: 0.5rem 0;
    margin: 0.5rem 1rem;
    width: 4rem;
    background-color: grey;
    font-weight: bold;
    color: white;
    border: 2px solid grey;
    transition: all 0.3s;
    &:hover {
        background-color: skyblue;
        border: 2px solid white;
        transform: translateY(-5px);
    }
}

.statistics {
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
    padding: 5px;
}

.scoring {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: blanchedalmond;
    font-size: 20px;
    font-weight: bold;
    margin-top: 2px;
    margin-bottom: 2px;
    background-color: darkgray;
    border-radius: 6px;
}
.black-text-span {
    color: black;
}
.white-text-span {
    color: white;
}