.toggle {
    display: inline-block;
    border-radius: 30px;
    padding: 0.5rem 0;
    margin: 0.5rem 1rem;
    width: 6rem;
    background: transparent;
    background-color: palevioletred;
    font-weight: bold;
    color: white;
    border: 2px solid white;
    transition: all 0.3s ease-out;
    &.on {
        background-color: orchid;
    }
    &.off {
        background-color: grey;
        border: 2px solid grey;
    }
    &:hover {
        color: yellow;
        border-color: yellow;
        transform: translateY(-5px);
    }
}

.clear {
    display: inline-block;
    border-radius: 30px;
    padding: 0.5rem 0;
    margin: 0.5rem 1rem;
    width: 6rem;
    background: transparent;
    background-color: grey;
    font-weight: bold;
    color: white;
    border: 2px solid grey;
    transition: background 0.3s;
}
.clear:hover {
    background-color: red;
    border: 2px solid white;
    animation: bounce 1.0s;
}

@keyframes bounce {
    0%, 20%, 60%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }

    80% {
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px);
    }
}

@keyframes squeeze {
    0%, 20%, 60%, 100% {
        -webkit-transform: skew(0);
        transform: skew(0);
    }

    40% {
        -webkit-transform: skew(-10deg);
        transform: skew(-10deg);
    }

    80% {
        -webkit-transform: skew(10deg);
        transform: skew(10deg);
    }
}