@import './base/animation';

.toggle {
    display: inline-block;
    border-radius: 30px;
    padding: 0.5rem 0;
    margin: 0.5rem 1rem;
    width: 6rem;
    background: transparent;
    background-color: palevioletred;
    font-weight: bold;
    color: white;
    border: 2px solid white;
    transition: all 0.3s ease-out;
    &.on {
        background-color: orchid;
    }
    &.off {
        background-color: grey;
        border: 2px solid grey;
    }
    &:hover {
        color: yellow;
        border-color: yellow;
        transform: translateY(-5px);
    }
}

.clear {
    display: inline-block;
    border-radius: 30px;
    padding: 0.5rem 0;
    margin: 0.5rem 1rem;
    width: 6rem;
    background: transparent;
    background-color: grey;
    font-weight: bold;
    color: white;
    border: 2px solid grey;
    transition: background 0.3s;
}
.clear:hover {
    background-color: red;
    border: 2px solid white;
    animation: bounce 1.0s;
}