.row {
    display: flex;
    flex-wrap: nowrap;
    background-color: rgb(194, 79, 12);
}

.chess {
    width: 50px;
    width: 6vmin;
    height: 50px;
    height: 6vmin;
    background-color: orange;
    border: none;
    color: red;
    padding: 10px;
    padding: 1vmin;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-size: 3vmin;
    margin: 1px 1px;
    margin: 0.2vmin 0.2vmin;
    border-radius: 50%;
}

/* .chess:hover {
    background-color: grey;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
} */

.black {
    background-color: black;
    color: white;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}
.white {
    background-color: white;
    color: black;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}
.light-black {
    background-color: rgb(52, 52, 52)
}
.light-black {
    background-color: rgb(130, 130, 130)
}
.grey {background-color: grey}
.transparent {background-color: transparent}