.row {
    display: flex;
    flex-wrap: nowrap;
    background-color: rgb(194, 79, 12);
}

.chess {
    width: 50px;
    width: 6vmin;
    height: 50px;
    height: 6vmin;
    background-color: orange;
    border: none;
    color: red;
    padding: 10px;
    padding: 1vmin;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-size: 3vmin;
    margin: 1px 1px;
    margin: 0.2vmin 0.2vmin;
    border-radius: 50%;
    transition: all 0.2s;
}
.black {
    background-color: black;
    color: white;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}
.white {
    background-color: white;
    color: black;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}
.empty {
    &:hover {
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    }
    &.light-black:hover {
        background-color: rgba(0, 0, 0, 0.6)
    }
    &.light-white:hover {
        background-color: rgba(255, 255, 255, 0.6)
    }
}


.transparent {background-color: transparent}