.toggle {
    display: inline-block;
    border-radius: 30px;
    padding: 0.5rem 0;
    margin: 0.5rem 1rem;
    width: 4rem;
    background: transparent;
    background-color: palevioletred;
    color: white;
    border: 2px solid white;
}

.on {
    background-color: palevioletred;
}

.off {
    background-color: grey;
}

.clear {
    display: inline-block;
    border-radius: 30px;
    padding: 0.5rem 0;
    margin: 0.5rem 1rem;
    width: 4rem;
    background: transparent;
    background-color: red;
    color: white;
    border: 2px solid white;
}